/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.traffic-light{
    width: 3rem;
    height: 3rem
}

.warning{
    background-color: rgb(172, 184, 5);
}

.danger{
    background-color: rgb(129, 0, 0);
}

.success{
    background-color: green;
}

.danger-glow{
    box-shadow: 0rem 0rem 2rem 0.5rem rgb(245, 13, 13);
    background-color: red;
}

.warning-glow{
    box-shadow: 0rem 0rem 2rem 0.5rem yellow;
    background-color: yellow;
}

.success-glow{
    box-shadow: 0rem 0rem 2rem 0.5rem rgb(11, 252, 31);
    background-color: rgb(1, 201, 18);
}

.semaphor{
    background-color: rgb(10, 0, 0);
    width: 6rem;
    border-radius: 30px;
}

.palo-semaforo{
    width: 20px;
    height: 50px;
    background-color: black;
    position:absolute;
}

.palo-horizontal{
    width: 100%;
    height: 20px;
    background-color: black;
    position:absolute;
}

.top{
    height: 50px;
}

body{
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimg.freepik.com%2Ffotos-premium%2Fcalle-llena-mucho-trafico-al-lado-edificios-altos_662214-489828.jpg&f=1&nofb=1&ipt=4f9d69c75449930a5a2a7a0bd98d7030506c07ac719bb896a8599c4e6a4928f0);
    background-size: cover;
    height:100%
}